<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-md-4">CPF </label>
                    <input type="text" [(ngModel)]="cpf" class="form-control" />
                </div>
            </div>
        </div>
         <div class="form-group">
            <button (click)="findByCpf()" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
  </div>

<table class="table table-hover">
    <thead>
    <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Sexo</td>
        <td>Estado civil</td>
        <td>Estado</td>
        <td>Dependentes</td>
        <td>Renda R$</td>
        <td>Resultado Análise</td>
        <td>Limite </td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let proposal of proposals">
            <td>{{ proposal.name }}</td>
            <td>{{ proposal.age }}</td>
            <td>{{ proposal.sex }}</td>
            <td>{{ proposal.civilStatus }}</td>
            <td>{{ proposal.state }}</td>
            <td>{{ proposal.dependents }}</td>
            <td>{{ proposal.income }}</td>
            <td>{{ proposal.result }}</td>
            <td>{{ proposal.message }}</td>
        </tr>
    </tbody>
  </table>